<& /Elements/Header, Title => loc('DOX Marketplace') &>
<& /Elements/Tabs &>

<& /Elements/ListActions, actions => \@results &>

<table width="100%">
<tr>
<!-- Left -->
<td valign="top" class="boxcontainer" width="60%">
<&| /Widgets/TitleBox, title => loc('Marketplace'), titleright_href=>RT->Config->Get('WebPath').'/Tools/Market.html?Reload=1', titleright=>loc('Reload') &>
<form method="post" name="Marketplace" enctype="multipart/form-data" action="<%RT->Config->Get('WebPath')%>/Tools/Market.html" style="width:100%">
<input type="hidden" class='hidden' name="MarketAction" value='1'>

<table id="tabMarket" class="display" style="width:100%">
<thead>
<tr >
<th>&nbsp;</th>
<th>Plug-in name</th>
<th>Version</th>
<th>Contributor</th>
<th>Learn more</th>
<th>Description</th>
</tr>
</thead>


<tbody>
% foreach my $element ( @catalogue ) {
<tr>
<td>
% if($element->{link}) {
<input type="checkbox" name="plugin" value="<%$element->{link}%>" />
% } 
</td>
% print "<td class='pluginame ";
% if (grep { $_ eq "RT-Extension-$element->{name}" || "RTx-$element->{name}" } @PluginNames) { print "highlight"} 
% print  "'>".$element->{name}."</td>";
<td> v. <% $element->{version} %></td>
<td><% $element->{contributor} %></td>

<td><a href="<% $element->{learnmore} %>" target="_blank">Learn more</a></td>
<td><div><img src="<% $element->{screenshot} %>"><br /><% $element->{description} %></div></td>
</tr>
% }
</tbody>

</table>
% if ( $AdminGroup->HasMemberRecursively($session{'CurrentUser'}->PrincipalObj) ) {
<table style="width:100%;">
<tr>
<td><label>Activate at
<& /Elements/SelectDate, Name => 'mp_process_at' &></label>
</td>
<td>
<& /Elements/Submit, Label => loc('Download and Install') &>
</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</table>
% }
</form>
</&>
</td>

<!-- /Left -->

<!-- Right -->
<td valign="top" class="boxcontainer" width="40%" >
<&| /Widgets/TitleBox, title => loc('Manager'), titleright_href=>RT->Config->Get('WebPath').'/Tools/Market.html?Refresh=1', titleright=>loc('Refresh') &>
<form method="post" name="Manager" enctype="multipart/form-data" action="<%RT->Config->Get('WebPath')%>/Tools/Market.html" style="width:100%">
<input type='hidden' class='hidden' name='ManagerAction' value='1'>
<table class="display" style="width:100%" id="tabManager">
<thead>
<tr>
<th>&nbsp;</th>
<th>Plugin</th>
<th>On/off date</th>
</tr>
</thead>

<tbody>
%my $number = 0;
%foreach my $PluginTicket (@PMQueueTickets) {
%$number += 1;
<tr>
<td>
<input type="checkbox" class="editor-active" name="<% $PluginTicket->{_pm_PluginName} %>" value="1" <% $PluginTicket->{_pm_PluginStatus} == 1 ?"checked":"" %> <% $PluginTicket->{_pm_PluginStatus} == 2?"checked disabled":"" %> />
</td>

<td>
%(my $nm = $PluginTicket->{_pm_PluginName}) =~s/-/::/ig;
%$nm .= '::VERSION';
<font color="<% ($PluginTicket->{_pm_PluginStatus}>1)?'gray':'black' %>"><% $PluginTicket->{_pm_PluginName} %></font> (ver. <%eval("\$$nm") || 'N/A'%>)
	<button id="ticket-<% $PluginTicket->{id} %>" class="button" style="float: right;" onclick="loadConfig(<% $PluginTicket->{id} %>); return false;"><&|/l&>Config</&></button>
</td>
<td>
<i style="color:gray">On: <% $PluginTicket->{_pm_OnDate} %></i>
%if ($PluginTicket->{_pm_OffDate}) {
<br><i style="color:gray">Off: <% $PluginTicket->{_pm_OffDate} %></i>
%}
%if ($PluginTicket->{_pm_PlannedOffDate}) {
<br><i style="color:red">A: Off@<% $PluginTicket->{_pm_PlannedOffDate}%></i>
%}

%if ($PluginTicket->{_pm_PlannedOnDate}) {
<br><i style="color:red">A: On@ <%$PluginTicket->{_pm_PlannedOnDate}%> </i>
%}

</td>
</tr>
%}
</tbody>

</table>
% if ( $AdminGroup->HasMemberRecursively($session{'CurrentUser'}->PrincipalObj) ) {
<table style="width: 100%;">
<tr>
<td><label>Process changes at <& /Elements/SelectDate, Name => 'pm_action_at' &></label>
</td>
<td><& /Elements/Submit, Label => loc('Save Changes') &></td>
</tr>
</table>
% }
</form>
</&>

</td>
<!-- /Right -->
</tr>

</table>

<hr />

<&| /Widgets/TitleBox, title => loc('Configurator (future project)') &>

<form method="post" name="Config" enctype="multipart/form-data" action="<%RT->Config->Get('WebPath')%>/Tools/Market.html" style="width:100%">
	<input type="hidden" class="hidden" name="ConfigAction" value="1">
	<input type="hidden" name="conf_id" id="conf_id" value="">
	<div style="width:100%">
% if ( $AdminGroup->HasMemberRecursively($session{'CurrentUser'}->PrincipalObj) ) {
		<button id="conig_cancel" name="conig_cancel" value="1" type="reset" style="float:right;"><&|/l&>Cancel</&></button>
		<button id="conig_submit" name="conig_submit" value="1" type="submit" style="float:right;"><&|/l&>Save</&></button>
		<label style="float:right; line-height:32px; padding-right: 24px;">
			<input type="checkbox" id="conig_save" name="conig_save" value="1">
			<&|/l&>Are you sure you want to edit the configuration</&>
		</label>
% }
	</div>
	<textarea id="conf_pm" name="conf_pm" style="width:100%; height:256px"></textarea>
</form>
</&>

<script type="text/javascript" src="<%RT->Config->Get('WebPath')%>/NoAuth/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="<%RT->Config->Get('WebPath')%>/NoAuth/js/dataTables.responsive.min.js"></script>
<script type="text/javascript">

% print "var PluginTickets = " . to_json(\@PMQueueTickets, { pretty => 1 }) . ";\n";

function loadConfig(id) {
	var arr1 = PluginTickets.filter(d => d.id == id);
	jQuery('#conf_pm').val(arr1[0]._pm_Config);
	jQuery('#conf_id').val(id);
	return true;
}

	
jQuery(function ($) {
	$(document).ready(function() {
	$('#tabMarket')
		.addClass( 'nowrap' )
		.DataTable({
					responsive: true,
					scrollY: 400,
					scrollX: false,
					paging: false,
					columnDefs: [ 
						{ targets: 0, orderable: false  },
						{ targets: 4, className: 'dt-body-right' } 
					],
					order: [[ 1, "asc" ]],
					columns: [
						null,
						null,
						null,
						null,
						null,
						{
							"render": function(data, type, row){ return "<span style='white-space:normal;'>" + data.split("\n").join("<br/>") + "</span>"; }
						}
					]
				});

	$('#tabManager')
		.addClass( 'nowrap' )
		.DataTable({
					responsive: true,
					scrollY: 400,
					scrollX: false,
					paging: false,
					order: [[ 1, "asc" ]],
					columnDefs: [ { targets: 0, orderable: false  }, 
								  { targets: 1, className: 'dt-body-left' } ],
					iDisplayLength: -1
				});

	}) 
});


</script>

<!--// PALACSINTA
% print Dumper($ref);
//-->

<%INIT>
use utf8;
use strict;
use warnings;
use LWP::Simple;
use JSON;

use File::Slurp qw( read_dir read_file );
use File::Spec::Functions qw( catfile );
use File::Basename qw ( basename );

use RT::Search::FromSQL;

use Data::Dumper;

my ( $url, $file, $json, @catalogue, @results, %cfs );

my $path = $RT::LocalPluginPath;
my @sub_dirs = grep { -d } map { catfile $path, $_ } read_dir ($path);

my @installed = RT->Config->GetObfuscated( 'Plugins', $RT::SystemUser );

my $AdminGroup = RT::Group->new($session{'CurrentUser'});
$AdminGroup->Load(RT->Config->Get('AdminGroupId'));

$url = 'https://servicedesk-marketplace.com/downloads/';
$file = 'catalogue.json';

if ( ($Reload==1) or (not -e -r -T "/tmp/$file") ) {
	my $rc = getstore($url.$file, "/tmp/$file");
	if (is_error($rc)) {
		die "cannot get $file from <$url> failed with $rc";
	}
}


{
  local $/; #Enable 'slurp' mode
  open my $fh, "<", "/tmp/$file";
  $json = <$fh>;
  close $fh;
}

my $ref = decode_json($json);
@catalogue = @{$ref->{'plugin'}};

##
# Tickets
##
my $current_user = $session{CurrentUser};

my $queue = RT::Queue->new($current_user);
$queue->Load("_Pluginmanager");
my $queue_cfs = $queue->TicketCustomFields;
$queue_cfs->LimitToQueue($queue->Id);

while (my $queue_cf=$queue_cfs->Next()) {
	$cfs{$queue_cf->Name} = 'CustomField-'.$queue_cf->Id;
}

##
#   Rescan
##
if ($Rescan==1) {
	push @results, loc("Rescan mode [_1]", $Rescan);
	my @Tickets = ReloadTicketSet($current_user);
	foreach my $ticketItem (@Tickets) {
		my $TicketObj = RT::Ticket->new($current_user);
		$TicketObj->Load($ticketItem->{id});
		my ($status, $msg) = $TicketObj->SetStatus("resolved"); 
	}
	push @results, loc("Closing all tickets, if exists.");

	foreach my $srtPN (@sub_dirs) {
		my $d = basename($srtPN);
		my @stats = stat $srtPN ;

		my $p=$d;
		$p=~s/-/::/ig;
		my $l = ((( grep $_ eq $p, @installed )||0) and (not (-e -f -r "$RT::EtcPath/RT_SiteConfig.d/$d.pm")||0))||0;

		my %args = (
			Queue=>"_Pluginmanager",
			Requestor=>$current_user->Name,
			Owner=>$current_user->id,
			Subject=>$d, 
			Priority=>10,
			InitialPriority=>0,
		);
		$args{ $cfs{'_pm_PluginName'} } = $d;
		$args{ $cfs{'_pm_PluginStatus'} } = ( (( grep $_ eq $p, @installed )||0) && (-e -f -r "$RT::EtcPath/RT_SiteConfig.d/$d.pm") )?1:0;  
		$args{ $cfs{'_pm_PluginStatus'} } = $l?2:$args{ $cfs{'_pm_PluginStatus'} };
		## Load config file into CF
		my $fn = (sort glob $srtPN.'/etc/*_Config.pm')[0];
		$args{ $cfs{'_pm_Config'} } = read_file($fn) if ($fn);
		my ($sec,$min,$hour,$mday,$mon,$year,$wday,$yday,$isdst) = localtime( $stats[9] );
		$args{ $cfs{'_pm_OnDate'} } = sprintf ( "%04d-%02d-%02d %02d:%02d", $year+1900, $mon+1, $mday, $hour, $min);

		my $ticket = RT::Ticket->new($current_user); # empty ticket object
		my ($val, $msg) = $ticket->Create(%args);

		if ($val) {
			push @results, loc('Ticket: #[_1] [_2]', $ticket->EffectiveId, $args{ Subject } );
			$ticket->SetStatus("open"); 
			$ticket->Comment( Content => $args{Subject} );
		} else {
			push @results, loc('Oops, something went wrong: [_1]', $msg);
		}
	}
}


my (@PMQueueTickets, @PluginNames);
@PMQueueTickets = ReloadTicketSet($current_user);

foreach my $pname (@PMQueueTickets) { push @PluginNames, $pname->{_pm_PluginName} }

##
#   Plugins
##
if ( $ManagerAction) {
	if ($ARGS{pm_action_at} eq '') {
		push @results, loc('Action date and time must be specified!');
	} else {
		foreach my $key (keys %ARGS) {
			foreach my $PluginTicket (@PMQueueTickets) {
				my $ticketObj = RT::Ticket->new($current_user);
				my $cfObj = RT::CustomField->new($current_user);
				if ($PluginTicket->{_pm_PluginName} eq $key) {
					$ticketObj->Load($PluginTicket->{id});
					my $flag = $ARGS{$key} || 0;
					if ($PluginTicket->{_pm_PluginStatus} < $flag) {
						$cfObj->Load('_pm_PlannedOnDate');
						$ticketObj->AddCustomFieldValue(Field => $cfObj->Id, Value => $ARGS{pm_action_at});
						$cfObj->Load('_pm_PluginStatus');
						$ticketObj->AddCustomFieldValue(Field => $cfObj->Id, Value => 1);
					}
				} elsif ($PluginTicket->{_pm_PluginStatus}==1) {
					my $noflag = $ARGS{$PluginTicket->{_pm_PluginName}} || 0;
					if ($noflag == 0) {
						$ticketObj->Load($PluginTicket->{id});
						$cfObj->Load('_pm_PlannedOffDate');
						$ticketObj->AddCustomFieldValue(Field => $cfObj->Id, Value => $ARGS{pm_action_at});
						$cfObj->Load('_pm_PluginStatus');
						$ticketObj->AddCustomFieldValue(Field => $cfObj->Id, Value => 0);
					}
				}
			}
		}
	}
	@PMQueueTickets = ReloadTicketSet($current_user);
}


##
#   Config
##
if ( $ConfigAction ) {
	if ($ARGS{conig_save} eq '1') {
		my $ticketObj = RT::Ticket->new($current_user);
		my $cfObj = RT::CustomField->new($current_user);
		$ticketObj->Load( $ARGS{conf_id} );
		$cfObj->Load('_pm_Config');
		$ticketObj->AddCustomFieldValue(Field => $cfObj->Id, Value => $ARGS{conf_pm});
		$cfObj->Load('_pm_ConfigChanged');
		$ticketObj->AddCustomFieldValue(Field => $cfObj->Id, Value => $ARGS{conig_save});
	}
	@PMQueueTickets = ReloadTicketSet($current_user);
}

##
#   Market
##
if ( $MarketAction ) {
	if ($ARGS{mp_process_at} eq '') {
		push @results, loc('Action date and time must be specified!');
	} else {
		if (ref($ARGS{plugin}) eq 'ARRAY') {
			foreach my $pl (@{$ARGS{plugin}}) {
				my $ticketObj = RT::Ticket->new($current_user); # empty ticket object
				my $nm = '';
				if (index($pl, 'cpanm') >= 0) {
				## In case of cpanm
					($nm = $pl) =~ s/^.{6}//s;
					$nm =~ s/::/-/ig;
				} else {
				## In case of zip, tar.gz
					($nm = $pl) =~ s/^.*\///;
					$nm = substr $nm, 0, index( $nm, q{.} ) ;##  =~ s/\.[^.]+$//;
				}
				my %args = (
					Queue=>"_Pluginmanager",
					Requestor=>$current_user->Name,
					Owner=>$current_user->id,
					Subject => $nm,
					Priority=>10,
					InitialPriority=>0,
				);

				my ($val, $msg) = $ticketObj->Create(%args);
				if ($val) {
					$ticketObj->SetStatus('stalled');
					$ticketObj->Comment(Content => $nm);
					my $cfObj = RT::CustomField->new($current_user);
					$cfObj->Load('_mp_PluginName');
					$ticketObj->AddCustomFieldValue(Field => $cfObj->Id, Value => $nm);
					$cfObj->Load('_mp_RestartDate');
					$ticketObj->AddCustomFieldValue(Field => $cfObj->Id, Value => $ARGS{mp_process_at});
					$cfObj->Load('_mp_LinkToDownload');
					$ticketObj->AddCustomFieldValue(Field => $cfObj->Id, Value => $pl);
					$cfObj->Load('_pm_Config');
					foreach my $element ( @catalogue ) {
						if (grep { $_ eq "$element->{name}" } @catalogue) {
							$ticketObj->AddCustomFieldValue(Field => $cfObj->Id, Value => $element->{config});
						}
					}
					$cfObj->Load('_pm_ConfigChanged');
					$ticketObj->AddCustomFieldValue(Field => $cfObj->Id, Value => '1');
					push @results, loc('Ticket: #[_1] [_2]', $ticketObj->EffectiveId, $nm);
				} else {
					push @results, loc('Oops, something went wrong: [_1]', $msg);
				}
			}
		} else {
			my $ticketObj = RT::Ticket->new($current_user); # empty ticket object
			my $nm = '';
			($nm = $ARGS{plugin}) =~ s/^.*\///;
			if (index($nm, 'cpanm') >= 0) {
			## In case of cpanm
				$nm =~ s/^.{6}//s;
				$nm =~ s/::/-/ig;
			} else {
			## In case of zip, tar.gz
				$nm =~ s/^.*\///;
				$nm = substr $nm, 0, index( $nm, q{.} ) ;##  =~ s/\.[^.]+$//;
			}
			my %args = (
				Queue=>"_Pluginmanager",
				Requestor=>$current_user->Name,
				Owner=>$current_user->id,
				Subject => $nm,
				Priority=>10,
				InitialPriority=>0,
			);
			my ($val, $msg) = $ticketObj->Create(%args);
			if ($val) {
				$ticketObj->SetStatus('stalled');
				$ticketObj->Comment(Content => $nm);
				my $cfObj = RT::CustomField->new($current_user);
				$cfObj->Load('_mp_PluginName');
				$ticketObj->AddCustomFieldValue(Field => $cfObj->Id, Value => $nm);
				$cfObj->Load('_mp_RestartDate');
				$ticketObj->AddCustomFieldValue(Field => $cfObj->Id, Value => $ARGS{mp_process_at});
				$cfObj->Load('_mp_LinkToDownload');
				$ticketObj->AddCustomFieldValue(Field => $cfObj->Id, Value => $ARGS{plugin});
				$cfObj->Load('_pm_Config');
				foreach my $element ( @catalogue ) {
					if (grep { $_ eq "$element->{name}" } @catalogue) {
						$ticketObj->AddCustomFieldValue(Field => $cfObj->Id, Value => $element->{config});
					}
				}
				$cfObj->Load('_pm_ConfigChanged');
				$ticketObj->AddCustomFieldValue(Field => $cfObj->Id, Value => '1');
				push @results, loc('Ticket: #[_1] [_2]', $ticketObj->EffectiveId, $nm);
			} else {
				push @results, loc('Oops, something went wrong: [_1]', $msg);
			}
		}
	}
}


sub ReloadTicketSet {
	my $current_user = shift;
	my @PMQueueTickets;
	my $queue = RT::Queue->new($current_user);
	$queue->Load("_Pluginmanager");

	my $tickets = RT::Tickets->new($current_user);
	my $foo = RT::Search::FromSQL->new(Argument => "Queue='_Pluginmanager' AND Status='open'", TicketsObj => $tickets);
	$foo->Prepare();
	while ( my $ticket = $tickets->Next() ) {
		# Do something with each ticket we've found
		my $QueueObj = $ticket->QueueObj;
		my $queue_cfs = $queue->TicketCustomFields;
		$queue_cfs->LimitToQueue($queue->Id);
		my %cf;
		while (my $queue_cf=$queue_cfs->Next()) {
			$cf{$queue_cf->Name} = $ticket->FirstCustomFieldValue($queue_cf->Name);
		}
	
		push @PMQueueTickets, {
			id=>$ticket->Id, 
			subject=>$ticket->Subject,
			_pm_OffDate => $cf{'_pm_OffDate'},
			_pm_OnDate => $cf{'_pm_OnDate'},
			_pm_PlannedOffDate => $cf{'_pm_PlannedOffDate'},
			_pm_PlannedOnDate => $cf{'_pm_PlannedOnDate'},
			_pm_PluginName => $cf{'_pm_PluginName'},
			_pm_PluginStatus => $cf{'_pm_PluginStatus'},
			_pm_Config => $cf{'_pm_Config'},
		};
	}
	return @PMQueueTickets;
}


</%INIT>
<%ARGS>
$Rescan => undef
$Refresh => undef
$Reload => undef
$ManagerAction => undef
$ConfigAction => undef
$MarketAction => undef
</%ARGS>